
body {
  background-color: rgb(75, 176, 209);
}
  
  .h1 {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: -8px;
      padding: 5px;
      background-color: #00101b;
    }
    
    .logo {
      width: 150px; 
      margin: 11px;
      padding: 5px;
    
    }
    
    .text-side {
      flex-grow: 1;
      padding-left: 20px; 
      font-size: 55px;
      color: #ffffff;
    }


    @media (max-width: 768px) {
      .container {
          flex-direction: column; 
          align-items: center; 
          padding: 10px; 
      }
  
      .logo {
          width: 100px; 
          margin: 11px;
          padding: 5px;
      }
  
      .text-side {
          font-size: 30px; 
          text-align: center; 
      }
  }
  
    
     /*menu*/
  
     .menu {
      display: flex;
      justify-content: space-around;
      padding: 5px;
      background-color: #00101b;
      border-radius: 10px;
    }
    
    .menu a {
      color: #ffffff;
      text-decoration: none;
      font-size: 20px;
    }
  
    .menu a, .dropdown {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
    }
    
    .dropdown .dropbtn {
        background: none; 
        border: none; 
        color: #ffffff; 
        font: inherit; 
        cursor: pointer; 
        font-size: 20px; 
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        background: #00101b;
        border-radius: 10px;
    }
    
    .dropdown-content a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    @media (max-width: 768px) {
      .menu {
          display: flex;
          flex-direction: column; 
          align-items: center; 
          padding: 10px; 
          background-color: #00101b;
          border-radius: 10px;
      }
    
      .menu a {
          color: #ffffff;
          text-decoration: none;
          font-size: 20px;
          margin-bottom: 10px; 
      }
    
      .dropdown {
          position: relative; 
      }
    
      .dropdown .dropbtn {
          background: none;
          border: none;
          color: #ffffff;
          font: inherit;
          cursor: pointer;
          font-size: 20px;
          padding: 10px; 
      }
    
      .dropdown-content {
          display: none;
          position: absolute;
          top: 100%; 
          left: 0; 
          min-width: 160px;
          z-index: 1;
          background: #00101b;
          border-radius: 10px;
      }
    
      .dropdown-content a {
          display: block;
          padding: 12px 16px;
          text-decoration: none;
          color: #ffffff; 
      }
    
      .dropdown:hover .dropdown-content {
          display: block;
      }
    }


    .espacio1 {
      height: 15px;
  }
  
  .espacio2 {
      height: 30px;
  }
  
  .espacio3 {
      height: 70px;
  }

    /*cards*/
  

  
    .boton-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    
    .boton {
      display: block;
      width: 450px;
      padding: 40px;
      margin: 12px;
      text-align: center;
      background-color: #00101b;
      color: #FFFFFF;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
      font-size: 25px;
    }
    
    .boton:hover {
      background-color: #9eb9d6;
    }
    
    @media screen and (max-width: 600px) {
      .boton {
        width: 80%; /* Ocupa todo el ancho disponible */
        padding: 20px; /* Reduce el padding para dispositivos móviles */
        font-size: 20px; /* Ajusta el tamaño de fuente */
      }
    }




/*FACEBOOK*/

.social-media {
  text-align: center;
  background-color: #00101b;
  border-radius: 10px;
}

.social-media img {
  width: 40px;
  height: 40px;
}

.social-media p {
  font-size: 17px; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  color: #ffffff;
}

      